<section class="kpi-container">
    <div class="kpi-card">
        <div class="kpi-icon bg-light-green"><i class="fa-solid fa-user-doctor"></i></div>
        <div class="kpi-data">
            <span class="kpi-label">Pacientes Novos</span>
            <h3 class="kpi-value" id="kpiPacientes">0</h3>
           
        </div>
    </div>
    
    <div class="kpi-card">
        <div class="kpi-icon bg-light-blue"><i class="fas fa-calendar-check"></i></div>
        <div class="kpi-data">
            <span class="kpi-label">Agendados Hoje</span>
            <h3 class="kpi-value" id="kpiHoje">0</h3>
          
        </div>
    </div>

    <div class="kpi-card">
        <div class="kpi-icon bg-light-gold"><i class="fas fa-hand-holding-usd"></i></div>
        <div class="kpi-data">
            <span class="kpi-label">Receita Prevista</span>
           <h3 class="kpi-value" id="kpiReceita">R$ 0</h3>
           
        </div>
    </div>

      <div class="kpi-card">
        <div class="kpi-icon bg-light-gold"><i class="fas fa-hospital-user"></i></div>
        <div class="kpi-data">
            <span class="kpi-label">Profissionais disponiveis</span>
           <h3 class="kpi-value" id="kpiProfissionais">0</h3>
           
        </div>
    </div>
</section>

<h2 class="section-title">Acesso Rápido</h2>
<nav class="shortcut-grid">
    <nav class="shortcut-grid">
    <a href="#" class="shortcut-item" data-page="pacientes">
        <i class="fas fa-users"></i>
        <span>Gestão de Pacientes</span>
    </a>

    <a href="#" class="shortcut-item" data-page="agendamentos">
        <i class="fas fa-clock"></i>
        <span>Agenda Semanal</span>
    </a>

    <a href="#" class="shortcut-item" data-page="financeiro">
        <i class="fas fa-wallet"></i>
        <span>Caixa e Fluxo</span>
    </a>

<a href="#" class="shortcut-item" id="btnAtendimentoRapido">
    <i class="fas fa-notes-medical"></i>
    <span>Novo Atendimento</span>
</a>
</nav>

