<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico de consultas</title>
    <link rel="stylesheet" href="css/historicoConsultas.css">
</head>
<body>
  <div class="container">
    <h2>Histórico de Consultas</h2>

    <table>
      <thead>
        <tr>
          <th>Paciente</th>
          <th>Data</th>
          <th>Diagnóstico</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody id="listaHistorico"></tbody>
    </table>
  </div>

  <script src="javascript/historicoConsultas.js"></script>
</body>

</html>