<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Sistema - Clínica</title>
  <link rel="stylesheet" href="css/home.css">
</head>
<body>

  <header class="topo">
    <h1 id="msg">Bem-vindo ao Sistema da Clínica</h1>
    <button id="logout">Sair</button>
  </header>

  <div class="container">

    <aside class="menu">
     
      <button data-page="pacientes">👤 <span>Pacientes</span></button>
      <button data-page="agendamentos">📅 <span>Agendamentos</span></button>
      <button data-page="historico">🩺 <span>historico</span></button>
      <button data-page="profissionais">👨‍⚕️ <span>Profissionais</span></button>
      <button data-page="financeiro">💰 <span>Financeiro</span></button>
      <button data-page="configuracoes">⚙️ <span>Configurações</span></button>
    </aside>

    <main class="conteudo" id="conteudo">
   
    </main>

  </div>

  <script src="javascript/home.js"></script>
</body>

</html>
